CONFIG_ARM=y
CONFIG_ARCH_HAS_STACK_PROTECTION=y

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y

CONFIG_BOARD_GENIATECH=y

CONFIG_GPIO=y
CONFIG_SERIAL=y

# UARTы
CONFIG_NRFX_UARTE0=y
CONFIG_NRFX_UARTE1=y

# Без USB
CONFIG_USB_DEVICE_STACK=n
CONFIG_USB_CDC_ACM=n

# Для MCUboot/PM
CONFIG_FLASH=y
CONFIG_FLASH_MAP=y
CONFIG_IMG_MANAGER=y
CONFIG_PM_SINGLE_IMAGE=n
